.header {
  display: flex;
}

p {
  font-size: 1rem;
  margin-left: 0.1rem;
  text-align: center;
}

@media (max-width: 980px) {
  p {
    font-size: 0.7rem;
  }
}

@media (max-width: 815px) {
  p {
    font-size: 0.6rem;
  }
}

@media (max-width: 660px) {
  p {
    font-size: 0.5rem;
  }
}

@media (max-width: 596px) {
  p {
    font-size: 0.4rem;
  }
}

@media (max-width: 520px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 0.6rem;
  }
}

@media (max-width: 320px) {
  p {
    font-size: 0.5rem;
  }
}
