form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-search {
  width: 10rem;
  border: 1px solid #000000;
}
.btns {
  display: flex;
}

.hero-search-btn {
  margin: 0.5rem;
  background-color: #518cca;
  width: 5rem;
  height: 2rem;
  font-size: 0.7rem;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 0.3rem;
}

@media (max-width: 380px) {
  .hero-search {
    width: 8rem;
  }
  .hero-search-btn {
    margin: 0.3rem;
    width: 3rem;
    font-size: 0.5rem;
  }
}
