.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#e23636, #f78f3f);
  width: 100%;
  height: auto;
  font-family: "Bangers", sans-serif;
}

button {
  background-color: #518cca;
  color: #000000;
  font-family: inherit;
}

h2,
p {
  color: #504a4a;
  font-weight: 700;
}

@media (max-width: 740px) {
  .heroBtns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 340px) {
  .heroBtns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
